<div class="cards" fxLayout="flex" fxLay>
    <div class="card-single">
        <h3>Orders</h3>
        <div class="card-detail">
            <span>Today</span>
            <h1>15</h1>
        </div>
        <div class="card-detail">
            <span>Total</span>
            <h1>999</h1>
        </div>
           </div>

    <div class="card-single">
        <h3>Customers</h3>
        <div class="card-detail">
            <span>Today</span>
            <h1>15</h1>
        </div>
        <div class="card-detail">
            <span>Total</span>
            <h1>999</h1>
        </div>
    </div>

    <div class="card-single">
        <h3>Empolyees</h3>
        <div class="card-detail">
            <span>Orders</span>
            <h1>154</h1>
        </div>
    </div>

    <div class="card-single">
        <h3>Expenses</h3>
        <div class="card-detail">
            <span>Today</span>
            <h1>15</h1>
        </div>
        <div class="card-detail">
            <span>Total</span>
            <h1>999</h1>
        </div>
    </div>
</div>