<body class="sec" >
    
    <video autoplay loop muted video class="myvideo">
        
        <source src="assets/video/darkbg.mp4"></video>
<mat-sidenav-container class="example-container" style="background-color:transparent">
    <mat-sidenav mode="side" opened>
        <ul>
            <li>
                <a href="">
                <span>Dashboard</span></a>
            </li>
            <li>
                <a href="">
                <span>Orders</span></a>
            </li>
            <li>
                <a href="">
                <span>Customers</span></a>
            </li>
            <li>
                <a href="">
                <span>Employees</span></a>
            </li>
            <li>
                <a href="">
                <span>Expenses</span></a>
            </li>
            </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        
        <mat-toolbar >
            <div>
            <h2>Dashboard</h2></div>
            <div class="user-wrapper">
               
                <div>
                    <p>Hai kiran!!</p>
                </div><div>
                <img src="./assets/images/kiran.png" style="width:45px;height:45px;border-radius:50%;margin-top:30px;" alt="image">
            </div></div>
          
   
           
           
          </mat-toolbar>
          <ng-content>
               
        </ng-content>
         
    </mat-sidenav-content>
  </mat-sidenav-container>
  

  </body>
  
  <!-- Copyright 2021 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->